/* ------------------------------ 
    ************** Table Of Content  ************** 
                 --------------------
                 
01. =Google Font
02. =Base
03. =Section padding margin
04. =Heading
05. =Main Button
06. =Header
07. =Footer
08. =BreadCrum




Font Size System 
-----------------
10px / 12px / 16px / 18px / 20px / 24px / 30px / 36px / 44px / 52px / 62px / 74px / 86px / 98px 

Spacing System 
-----------------
2px / 4px / 8px / 12px / 16px / 24px / 32px / 48px / 64px / 80px / 96px / 128px  

-------------------------------------------------------*/

/* 01. Google Font Start ------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

/* ------------- Google Font End ------------- */

/* 02.base Start ------------------------------ */

:root {
  --th-color-1: #3157a7;
  --th-color-2: #020202;
  --th-color-3: #7e7e7e;
  --th-color-4: #545454;
  --th-color-5: #ffffff;
  --th-color-6: #fdda16;
  --th-fs-h1: 180px;
  --th-fs-h2: 100px;
  --th-fs-h3: 40px;
  --th-fs-h4: 32px;
  --th-fs-h5: 22px;
  --font-family: "Red Hat Display", sans-serif;
  --font-family-2: "AeonikTRIAL-Regular";
}

/* html {
    font-size: 62.5%;
}

body {
    color: #222;
    font-size: 1.6rem;
} */
*{
  user-select: none;
}
body {
  position: relative;
  overflow-x: hidden;
  transition: all .5s;
}
section {
  overflow: hidden;
}
.fixed-heart {
  width: 200px;
  position: absolute;
  top: 800px;
  right: 0;
}
.fixed-heart img {
  width: 100%;
}
.container-xxl {
  max-width: 1600px !important;
  padding: 0px  20px;
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  
}

.marquee .d-flex {
  display: inline-block;
  padding-left: 100%; /* to ensure it moves out of the viewport */
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee:hover p {
  animation-play-state: paused; /* Pause the animation on hover */
}

a {
  text-decoration: none;
  color: #222;
}

.h1 {
  font-family: var(--font-family);
  font-size: var(--th-fs-h1);
  font-weight: 400;
  line-height: 100%;
  /* overflow: hidden; */
}

.h1 .h1-light {
  text-align: left;
  margin-right: 130px;
}

.h1 .h1-black {
  text-align: right;
  /* font-weight: 600; */
  margin-left: 130px;
}

.th-p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--th-fs-h4);
  line-height: 130%;
}

.h2 {
  font-family: var(--font-family);
  font-size: var(--th-fs-h2);
  font-weight: 400;
}
.h2 .h-light {
  font-weight: 400;
}
.h2 .h-black {
  font-weight: 700;
}
.h2 b {
  font-weight: 700;
}
.h3 {
  font-family: var(--font-family);
  font-size: var(--th-fs-h3);
  font-weight: 700;
  line-height: 120%;
}
.h4 {
  font-family: var(--font-family);
  font-size: var(--th-fs-h4);
  font-weight: 600;
  line-height: 120%;
}
.h5 {
  font-family: var(--font-family);
  font-size: var(--th-fs-h5);
  font-weight: 600;
  line-height: 120%;
}

.th-btn {
  font-family: var(--font-family);
  display: inline-block;
  position: relative;
  z-index: 2;
  font-size: var(--th-fs-h5);
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid var(--th-color-4);
  overflow: hidden;
  transition: all 0.5s;
}
.th-btn .far {
  font-size: var(--th-fs-h5) !important;
  margin-left: 10px;
  position: relative;
  z-index: 2 ;
}
/* .th-btn:hover {
  color: white;
} */

.th-btn::before {
  content: " ";
  width: 100%;
  height: 80px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: var(--th-color-6);
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  transition: all 0.5s;
}
.tb-t {
  position: relative;
  z-index: 2;
}

.th-btn:hover:before {
  top: -40%;
  transition: all 0.5s;
}

/* ------------- base End ------------- */

.th-mode {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-sun {
  color: #f39c12;
}

.fa-moon {
  color: #f1c40f;
}

.th-mode .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  transform: translateX(0px);
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.th-mode.active .ball {
  transform: translateX(24px);
}
main {
  padding-top: 100px;
}
/* Header Scetion Start ------------------------------ */
/* #header {
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  transition: all 0.5s;
}
#header.hidden {
  transform: translateY(-100%);
}

.navbar {
  width: calc(100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  max-width: 200px;
  width: 100%;
  position: relative;
  z-index: 100;
}

.nav-logo img {
  width: 100%;
}

.nav-toggle {
  border-radius: 50%;
  position: relative;
  z-index: 100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.ntb {
  height: 4px;
  border-radius: 30px;
  background-color: var(--th-color-4);
  position: relative;
  transition: all 0.5s;
}

.ntb-t {
  width: 30px;
  margin-left: auto;
}

.ntb-m {
  width: 60px;
  margin: 17px 0;
}

.ntb-b {
  width: 30px;
}

.navbar.active .ntb-m {
  opacity: 0;
}
.navbar.active .ntb-t {
  width: 60px;
  background-color: white;
  transform-origin: top left;
  transform: rotate(45deg);
}
.navbar.active .ntb-b {
  width: 60px;
  background-color: white;
  transform-origin: bottom left;
  transform: rotate(-45deg);
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80 !important;
  width: 100%;
  height: 200vh;
  padding-top: 100px;
  transform: translateY(-200vh);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background-color: var(--th-color-2);
  display: flex;
  justify-content: center;
}

.nav-container ul {
  list-style: none;
  text-align: center;
}

.nav-container ul li {
  margin: 10px 0px;
}

.nav-container ul li a {
  font-size: var(--font-family);
  font-size: 80px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s;
}
.nav-container ul li a:hover {
  color: var(--th-color-1) !important;
} */

.header-bottom {
  max-width: 700px;
  width: 100%;
  background-color: var(--th-color-5);
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, 0);
  padding: 10px 0px;
  border: 1px solid rgba(84, 84, 84, 0.2);
  transition: all 0.5s;
}
.header-bottom.active {
  transform: translate(-50%, 150%);
}
.hb-container .hb-box {
  padding: 10px 15px;
}
/* .hb-container .hb-mid {
 border-left: 1px solid var(--th-color-3);
  border-right: 1px solid var(--th-color-3); 
} */
.hb-container .nav-item a {
  font-family: var(--font-family);
  font-size: var(--th-fs-h5);
  font-weight: 600;
  line-height: 100%;
  text-align: left;
  margin: 0px 8px;
  transition: all 0.5s;
}
.hb-container .nav-item a.active {
  color: var(--th-color-1);
}
.hb-container .nav-item a:hover {
  color: var(--th-color-1);
}

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header-top .ht-left {
  max-width: 270px;
  transition: all 0.5s;
}
.header-top .ht-left img {
  width: 100%;
}
.header-top .ht-right {
  max-width: 100px;
}
.header-top .ht-right #heart {
  width: 70px;
  height: 70px;
}
#heart path {
  stroke: var(--th-color-3); /* Change stroke color on hover */
  stroke-dashoffset: 0;
  stroke-dasharray: 55;
}
/* @keyframes animate-svg-stroke-1 {
      0% {
          stroke-dashoffset: 0;
      }

      100% {
          stroke-dashoffset: 55px;
      }
  }

#heart:hover path{
animate:animate-svg-stroke-1 2s linear forwards;
} */
/* ------------- Header Scetion  End ------------- */

/* Banner Scetion Start ------------------------------ */
.banner {
  padding: 50px 0px;
}

.banner .h1 {
  color: var(--th-color-1);
}

/* ------------- Banner Scetion  End ------------- */

/* Specialize Scetion Start ------------------------------ */
@keyframes moveMouse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveArrow {
  0% {
    transform: translateY(0) rotate(90deg);
  }
  50% {
    transform: translateY(10%) rotate(90deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
.specialize {
  padding: 150px 0;
  background-image: linear-gradient(
    rgba(253, 218, 22, 0),
    rgba(253, 218, 22, 0.6),
    rgba(253, 218, 22, 0)
  );
}
.mouse-icon {
  margin: 150px 0;
}
.mouse-icon .fal {
  font-size: 40px;
  color: var(--th-color-1);
  animation: moveMouse 2s infinite;
}

.specialize .far {
  font-size: var(--th-fs-h4);
}

.specialize .th-p.ltb {
  display: block;
  margin: 0 0 120px 0 !important;
  /* line-height: 200px; */
}
.specialize-right .d-flex.align-items-center.gap-2 {
  cursor: pointer;
}
.specialize-right .far {
  transform: rotate(90deg);
  transition: all 0.5s;
}
.specialize-right .d-flex.align-items-center.gap-2:hover .far {
  transform: translateY(4px) rotate(90deg);
}
.specialize-right .d-flex.align-items-center.gap-2.active:hover .far {
  animation: none;
}
.specialize-right .d-flex.align-items-center.gap-2.active .far {
  transform: rotate(-270deg);
}

/* ------------- Specialize Scetion  End ------------- */

/* Specialize Scetion Start ------------------------------ */
.our-work {
  padding: 80px 0;
}
.ow-text {
  padding: 40px;
}

.ow-text .h4,
.ow-text .h5 {
  font-weight: 500;
  color: var(--th-color-3);
  line-height: 120%;
}
.ow-btn {
  margin-top: 110px;
}

/* ------------- Specialize Scetion  End ------------- */

/* Our Project Scetion Start ------------------------------ */
.our-project {
  padding: 20px 0 100px 0;
}

.our-project .h3 {
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--th-color-4);
  max-width: 450px;
  margin: auto;
  margin-bottom: 40px;
}

.op-row {
  height: 500px;
}
.op-container {
  width: 400%;
  display: flex;
  flex-wrap: nowrap;
}
.op-img {
  position: relative;
  overflow: hidden;
}
.op-img img {
  transition: all 1s;
}
.op-img:hover img {
  transform: scale(1.5);
}
.opi-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(49, 86, 167, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}
.opi-overlay a .fal {
  font-size: var(--th-fs-h5);
  background-color: var(--th-color-5);
  color: var(--th-color-1);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.5s;
}
.op-img:hover .opi-overlay {
  opacity: 1;
}
/* .op-img .opi-overlay a .fal:hover {

} */
/* .op-img{
    --spating:400px;
    position: absolute;
    right: var(--spating);
}
.op-img:nth-child(2){
    right: calc(var(--spating)*2);
}
.op-img:nth-child(3){
    right: calc(var(--spating)*2);
} */
/* our-work Scetion Start ------------------------------ */

#project-page .ow-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  /* overflow: hidden; */
}

.ow-wrapper .ow-left {
  height: 100vh;
  /* outline:1px solid purple; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ow-wrapper .ow-left,
.ow-wrapper .ow-right {
  width: 50%;
}

#project-page .ow-wrapper .ow-left .ow-img,
#project-page .ow-wrapper .ow-right .ow-text {
  width: 100%;
  height: 100vh;
}

.ow-left {
  position: relative;
}

.ow-left .ow-img {
  position: absolute;
}

/* ------------- our-work Scetion End ------------- */
/* ------------- Our Project Scetion End ------------- */

/* Write to us Scetion Start ------------------------------ */
.write-to-us {
  padding: 100px 0;
}

.write-to-us input {
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--th-color-4);
  padding: 10px 0px;
  background-color: transparent;
}
.write-to-us input::placeholder {
  font-size: 16px;
}

.write-to-us .th-btn {
  background-color: transparent;
}

.write-to-us .th-btn .far {
  transform: rotate(-45deg);
}

/* ------------- Write to us Scetion End ------------- */

/* Footer Scetion Start ------------------------------ */
footer .foot-menu {
  overflow: hidden;
}
footer .f-text {
  border-top: 3px solid var(--th-color-1);
  border-bottom: 3px solid var(--th-color-1);
  transition: all 0.2s;
}
footer .f-text:hover {
  background-color: var(--th-color-6);
  border-top: 3px solid var(--th-color-6);
  border-bottom: 3px solid var(--th-color-6);
}
footer .f-text .ft-l a {
  font-family: var(--font-family);
  font-size: var(--th-fs-h2);
  color: var(--th-color-2);
  line-height: 120%;
  text-transform: uppercase;
  transition: all 0.2s;
}
footer .f-text:hover .ft-l a {
  color: var(--th-color-1);
}
footer .f-text .ft-l a:hover {
  text-decoration: underline;
}

footer .f-text .fas {
  width: var(--th-fs-h2);
  height: var(--th-fs-h2);
  line-height: var(--th-fs-h2);
  font-size: 12px;
  text-align: center;
  transition: all 0.2s;
}
footer .f-text:hover .fas {
  color: var(--th-color-1);
}

.foot-up {
  text-align: center;
  padding: 50px 0 20px;
}

.foot-up .fal {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 34px;
  text-align: center;
  border: 2px solid var(--th-color-2);
  border-radius: 50%;
  margin: 60px auto 50px;
  cursor: pointer;
  animation: moveMouse 2s infinite;
  transition: all 0.2s;
}
.foot-up .fal:hover {
  background-color: var(--th-color-1);
  color: var(--th-color-5);
}

/* ------------- Footer Scetion End ------------- */

/* ---------------------================= Service Page ================-------------------  */
/* service hero start */
.hero {
  padding: 80px 0;
}
.hero .h2 {
  color: var(--th-color-1);
  line-height: 100%;
}
.hero .h3 {
  color: rgba(115, 115, 115, 0.3);
}
.hero .h4 {
  max-width: 1200px;
  width: 100%;
}
/* service hero end */

/* service specialize hero start */
#service-page .specialize .h2 .h-black {
  color: var(--th-color-1);
  margin-left: var(--th-fs-h3);
}
.specialize-service{
  width: 200%;
  display: flex;
  gap: 20px;
}
/* service specialize hero end */

/* ---------------------================= Project Page ================-------------------  */

/* Project Hero Scetion Start ------------------------------ */
.ph-tab-content .h2 {
  display: none;
}
.ph-tab-content .h2.active {
  display: block;
}
.project-hero{
  padding: 120px 0;
  height: 100vh;
}
.project-hero .phtb {
  color: var(--th-color-3);
  font-size: var(--th-fs-h4);
  font-family: var(--font-family-2);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.project-hero .phtb .fas {
  font-size: calc(var(--th-fs-h4) * 0.4);
  opacity: 0;
}
.project-hero .phtb.active {
  color: var(--th-color-2);
}

.project-hero .phtb.active .fas {
  opacity: 1;
}
.tab-project {
  display: none;
}
.tab-project.active {
  display: block;
}
/* ------------- Project Hero Scetion End ------------- */

/* ---------------------================= Contact Page ================-------------------  */
.ch-box {
  padding: 50px 0;
}
.ch-box .ch-details {
  margin: 40px 0px;
}
.ch-box .ch-details .h1 .h1-black {
  font-weight: 700;
  margin: 0;
}
.ch-box .ch-details .h1 .h1-light {
transition: all .2s;
}

.ch-box .ch-details a {
  font-size: var(--th-fs-h3);
  font-family: var(--font-family-2);
  line-height: 100%;
  position: relative;
}
.ch-box .ch-details a::before {
  content: " ";
  background-color: var(--th-color-4);
  width: 200px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.ch-box .ch-details:nth-child(3) a::before {
  content: " ";
  height: 0px;
}
.ch-box .ch-details:nth-child(1):hover .h1-light {
  color: var(--th-color-6);
}
.ch-box .ch-details:nth-child(2):hover .h1-light {
  color: var(--th-color-1);
}
.ch-box .ch-details:nth-child(3):hover .h1-light {
  color: var(--th-color-6);
}
.chd-ul {
  max-width: 300px;
}
.chd-ul .fab {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: var(--th-fs-h4);
  border: 2px solid var(--th-color-4);
  transition: all .5s;
}
.chd-ul .fab:hover {
  background-color: var(--th-color-1);
  box-shadow: rgba(49, 86, 167, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
border: 2px solid var(--th-color-1);
color: var(--th-color-5);
}

/* ---------------------================= About Page ================-------------------  */
.ah-text {
  padding-top: 120px;
}
.ah-text .th-p {
  font-size: var(--th-fs-h5) !important;
}

/* Our Approach Scetion Start ------------------------------ */
.our-approach {
  padding: 150px 0;
  /* background-image: linear-gradient(
    rgba(253, 218, 22, 0),
    rgba(253, 218, 22, 0.6),
    rgba(253, 218, 22, 0)
  ); */
}

.oa-box {
  padding: 50px 0;
}
.oa-card {
  min-height: 300px;
  padding: 50px;
  border-radius: 50px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
}
/* .oa-box .col-md-4:nth-child(1) .oa-card{
  z-index: 1;
}
.oa-box .col-md-4:nth-child(2) .oa-card{
  left: -100%;
  z-index: 2;
}
.oa-box .col-md-4:nth-child(3) .oa-card{
  left: -200%;
  z-index: 3;
} */
.oa-card .h3 {
  color: var(--th-color-1);
  margin-bottom: 30px;
}
.oa-card .th-p{
  font-size: calc(var(--th-fs-h4)*.85);
}
/* ------------- Our Approach Scetion End ------------- */

/* ---------------------================= Pricing Page ================-------------------  */

/* Pricing Body Scetion Start ------------------------------ */
#pricing-page {
  background: var(--th-color-5);
  transition: all .5s;
}
/* ------------- Pricing Body Scetion End ------------- */

/* Pricing Hero Scetion Start ------------------------------ */
.pricing-hero .ph-text {
  padding: 50px 0;
}
/* ------------- Pricing Hero Scetion End ------------- */

/* Pricing Main Scetion Start ------------------------------ */
.pm-box {
  margin-bottom: 200px;
}
.pm-box .pmb-1,
.pm-box .pmb-2 {
  padding: 0 40px;
}
.pm-box .pmb-1 .pm-card,
.pm-box .pmb-2 .pm-card {
  height: 100%;
}
.pm-box .pmb-3 {
  padding: 80px 40px;
}

.pm-box-2 .pmb-1 .pm-card {
  border: 1px solid var(--th-color-4);
}
.pm-card {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 80px 40px;
  border-radius: 50px;
}

.pm-card .pm-line {
  max-width: 450px;
  width: 100%;
  background-color: var(--th-color-4);
  height: 1px;
  margin: 30px 0px;
}
.pm-card .pm-price {
  font-size: calc(var(--th-fs-h3) * 1.5);
  font-family: var(--font-family);
}
.pm-card .pm-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pm-card .pm-list ul li {
  font-size: calc(var(--th-fs-h5) * 0.9);
  margin: 5px 0;
}
/* ------------- Pricing Main Scetion End ------------- */

/* ---------------------================= Case Study Page ================-------------------  */

/* Pricing Main Scetion Start ------------------------------ */
#case-study-page .th-p{
  font-family: var(--font-family-2);
  font-size: var(--th-fs-h5);
}
#case-study-page .h4{
  font-family: var(--font-family-2);
}
.case-study-hero{
  padding: 50px 0;
}
.case-study-logo{
  padding: 50px 0;
}
.case-study-logo img{
  max-width: 500px;
  width: 100%;
  margin: auto;
  display: block;
}

.challenge{
  padding: 100px 0;
}
.challenge .h4{
font-weight: 700;
}
.approach{
  background-color: var(--th-color-2);
  padding: 100px 0;
}
.approach .a-text{
 margin-top: 50px;
}
.approach .a-text .h4{
  font-weight: 700;
  color: var(--th-color-5);
}
.approach .a-text .th-p{
  margin-top: 10px;
color: var(--th-color-5);
}
.approach-slider{
  margin-top: 100px;
}
.as-btn .far{
  font-size: var(--th-fs-h3);
  color: var(--th-color-5);
  cursor: pointer;
}
.as-btn .far.grey{
  color: var(--th-color-3);
}

.result .r-box{
  padding: 80px 0;
}
.more-project{
  padding: 100px 0px;
}

.more-project .mp-btn .far{
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
border-radius: 50%;
border: 2px solid var(--th-color-2);
font-size: var(--th-fs-h5);
color: var(--th-color-2);
}


.mp-slider .slick-slide {
  margin: 0 15px 0 0;
  transition: all 0.4s ease-in-out;
}

.mp-slider .slick-slide,
.mp-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
  transform: scale(0.7, 0.7);
  transition: all 0.4s ease-in-out;
}

/* Active center slide (You can change anything here for cenetr slide)*/
.mp-slider .slick-center,
.mp-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] {
  transform: scale(1.5);
}

.mp-slider .slick-current.slick-active {
  transform: scale(1.2, 1.2);
}
/* ------------- Pricing Main Scetion End ------------- */
